In [1]:
import pandas as pd
data = {"Names": ["Mike", "Rodrigo", "Sundeep"],
"Jobs": ["Author", "Content Creator", "Author"],
"Books": ["Python 101", "PyDon'ts", "Python re(gex)?"]}
df = pd.DataFrame(data)

In [2]:
df

     Names             Jobs            Books
0     Mike           Author       Python 101
1  Rodrigo  Content Creator         PyDon'ts
2  Sundeep           Author  Python re(gex)?

#### ðŸ‘‰ Use query which provides sql style where clause search option and then select only the column you are interested with .item to convert it from series to string

In [3]:
df.query('Books == "Python re(gex)?"')['Books'].item()

'Python re(gex)?'